@import "tailwindcss";

:root {
  font-family: Helvetica;
  line-height: 1.5;
  font-weight: 400;

  /*color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;*/

  color: #213547;
  background-color:#ebeef0;/*#FEFEFD;/*#FBFCF3; /*#f3f4f6;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color:#094293;
  --primary-color-light:#346dbf;
  --primary-color-dark:#12376b;
  --primary-color-on:#ffffff;

  --secondary-color:#839c00;
  --secondary-color-light:#aec82b;
  --secondary-color-dark:#60700c;
  --secondary-color-on:#213547;

  --boxshadow: 0px 0px 0px 0px rgba(0,0,0,0);  /*0px 0px 15px -3px rgba(0,0,0,0.1);*/
  --boxshadow-hover: 0px 6px 30px -3px rgba(0,0,0,0.2);

  --text-light:#435363
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button{
  cursor:pointer
}

/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}*/

.loader {
  width: 16px;
  height: 16px;
  border: 2px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
} 